<h1>homepage</h1>

<!-- <video autoplay="true" id="videoElement">
 
</video> -->

<!-- <input type="file" accept="image/*;capture=camera"> -->

<device type="media" onchange="update(this.data)"></device>
<video autoplay id="videoElement"></video>
<script>
  function update(stream) {
    document.querySelector('video').src = stream.url;
  }
</script>